html, body {
	height: 100%;
	width: 100%;
	font-size: 12px;
	text-align: center;
	color: #000;
}

header,
footer{
	width: 100%;
	min-height: 10px;
	background-color: #000;
	color: #FFF;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

